body {
  background: #fff;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

.board {
  background: white;
  height: 800px;
}

.box {

    min-width: 200px;

    min-height: 200px;

    display: block;

    width: 300px;

}

.note {
    position: absolute;
    /* box-shadow: h-shadow v-shadow blur spread color inset; */

    box-shadow: 5px 5px 8px #888;

    background-color: lime;

}

.box-header {

    min-height: 30px;

    background-color: #e0e0e0;

    text-align: right;

    line-height: 30px;

}

.box-header a {

    display: block;

    margin: 4px;

    width: 20px;

    height: 20px;

    line-height: 20px;

    font-size: 24px;

    text-align: center;

    font-weight: bolder;

    font-family:"Helvetica Neue LT", "Helvetica", "Arial", "sans-serif";

    text-decoration: none;

    color: #666;

    border-radius: 5px;

}

.box-header a:link, .box-header a:visited {

    border: 1px solid #e0e0e0;

}

.box-header a:hover, .box-header a:active {

    border: 1px solid #aaa;

    background-color: #ccc;

}

.left {

    float: left;

}

.right {

    float: right;

}

.hidden {

    display: none;

}

.note-text {

    margin: 0;

    background: none;

    border: none;

    font-family:"Helvetica", "Arial", "sans-serif";

    font-size: 24px;

    width: 100%;

    font-style: italic;

    resize: none;

    overflow: auto;

    outline: none;

    padding: 5px;

}

.background-gray {

    background: #ffffff;

    /* Old browsers */

    background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);

    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e0e0e0));

    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);

    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);

    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);

    /* IE10+ */

    background: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);

    /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0', GradientType=0);

    /* IE6-9 */

}

a:hover{
  text-decoration: none;
}
